$p0: 0.5em;
$p1: 1em;
$lightBorder: 1px solid #e4e4e4;
$plainShadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
$highShadow: 0 4px 5px rgba(0, 0, 0, 0.2);
$lightGray: #f6f6f6;
$primary: #C32B42;
$secondary:  #00DBDE;
$tertiary: #F7A007;
$gray1: darkgray;
$gray2: gray;
$gray3: rgb(78, 72, 72); 
